<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.market">
	
	<insert id="insertNewProduct" parameterType="productDto">
		INSERT INTO
				T_PRODUCT (
					PRODUCT_NAME,
					PRODUCT_SELLER,
					PRODUCT_PRICE,
					PRODUCT_SORT,
					PRODUCT_DESC,
					PRODUCT_CREDATE
				)
		VALUES (
				#{productName},
				#{productSeller},
				#{productPrice},
				#{productSort},
				#{productDesc},
				NOW()
		);
	</insert>
	
	<select id="getAllProducts" resultType="ProductDto">
		SELECT
				*
		FROM
				T_PRODUCT;
	</select>
	
	<select id="getSortProducts" resultType="ProductDto">
		SELECT
				*
		FROM
				T_PRODUCT
		WHERE
				PRODUCT_SORT = #{categoty}
	</select>
	
</mapper>